@import "global/normalize.scss";
@import "global/global.scss";
@import "global/global-variables.scss";

//FONTS

@font-face {
  font-family: "Montserrat";
  src:
    url("@@pathi/font/montserrat-regular.woff2") format("woff2"),
    url("@@pathi/font/montserrat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("@@pathi/font/montserrat-thin.woff2") format("woff2"),
    url("@@pathi/font/montserrat-thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

//---GLOBAL---

.page {
  width: 100%;
  height: 100%;
}

.page__body {
  padding: 0;
  margin: 0;
  min-width: var(--);
  height: 100%;
}

.main-wrapper {
  margin: 0 auto;
  max-width: var(--desktop-width);
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

.main-wrapper section {
  box-sizing: border-box;
}

.container-box {
  margin: 0 auto;
  max-width: var(--max-container-width);

  //   @media (max-width: 1240px) and (max-width: 1023px) {
  //     width: 708px;
  //     padding-left: 0;
  //     padding-right: 0;
  //   }
}


//---ZERO-G---

//animation

@keyframes color {
  0% {
    background: var(--cl-main-background);
  }

  50% {
    background: #AABDFF;
  }

  100% {
    background: #FFCEB9;
  }
}

@keyframes levitate {
  100% {
    transform: translateY(-20px);
  }
}

//section

.zero-g {
  animation: 5s ease-in-out infinite alternate color;

  position: relative;
}

.zero-g__background {
  padding: 30px 0;
  box-shadow: var(--shadow);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

//title

.zero-g__title {
  display: flex;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
  font-family: 'Montserrat', 'Helvetica';
  line-height: 110%;
  font-weight: 400;
  font-size: clamp(26px, 8vw, 60px);

  @media (min-width:768px) {
    font-size: clamp(70px, 21.8vw, 112px);
  }

  &::before {
    content: attr(data-title);
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    top: min(2%, 2px);
    left: 50%;

    color: var(--cl-accent);
    transform: translateX(-50%);
    text-align: center;
  }
}

.zero-g__title span {
  display: inline;
  background: var(--title-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
}

//image

.zero-g__image-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.zero-g__fly-girl {
  width: max(350px, 83%);
  height: auto;
  transform: translateY(0);
  animation-name: levitate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.zero-g__fly-chair {
  margin-top: clamp(-200px, -12vw, -60px);
  width: max(380px, 86%);
  height: auto;
  position: relative;
  bottom: 0;
  z-index: 30;
}

//---BECOME---

.become {
  color: var(--cl-contrast);
  position: relative;
}

.become__background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.become__content-wrapper {
  display: grid;
  width: 100%;
  align-items: flex-end;
  grid-template-rows: 40% 32% 28%;
  grid-template-columns: 1fr 13% 16% 1fr;
  transition: .7s cubic-bezier(.45, 0, .55, 1);
}

//title
.become__title-left-full {
  grid-row: 1/2;
  grid-column: 1/2;
}

.become__title-right {
  grid-row: 1/2;
  grid-column: 4/5;
}

//image

.become__image {
  img {
    display: block;
    max-height: 100%;
    width: auto;
  }
}

.become__image-left-block {
  margin-right: -60px;
  grid-row: 1/-1;
  grid-column: 2/3;
}

.become__image-right-block {
  grid-row: 1/4;
  grid-column: 3/4;
}
